.login {
    background: #FFFFFF;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login>img {
    width: 130px;
    margin: 35% 0;
}

.login>input {
    width: 70%;
    height: 55px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
}

.login>input::placeholder {
    font-size: 18px;
    color: #AEAEAE;
}

.login>input:focus {
    outline: 3px solid transparent;
}

.login>button {
    background: #E7E7E7;
    border: none;
    border-radius: 9px;
    width: 110px;
    height: 45px;
    font-size: 18px;
    color: #696969;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

.login>div{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login>div *{
    width: 70px;
    margin: 10px;
}

.hidden {
    display: none;
}