aside {
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

aside>button {
    position: absolute;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: transparent;
    border: none;
}

aside>section {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

aside .instructions {
    font-weight: 700;
    align-self: center;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px 0;
}

aside section>div>div {
    padding: 10px 0;
}

aside .contacts {
    height: 450px;
    overflow-y: scroll;
}

aside .contact, aside .visibility>div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

aside .contact span{
    max-width: 160px;
    overflow: hidden;
}

aside figure {
    width: 50px;
    margin-right: 15px;
    display: flex;
    justify-content: right;
}

aside .all img {
    max-height: 18px;
}

aside .checked-style {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 30px;
}

aside .visibility .private {
    background-color: transparent;
}