* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    background: #E5E5E5;
}

#container {
    position: relative;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F3F3;
}

/* ------ HEADER E FOOTER ------ */

header, footer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: #FFFFFF;
}

header {
    top: 0;
    padding: 0 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header>button {
    background-color: transparent;
    border: none;
}

footer {
    bottom: 0;
    padding: 0 18px;
    height: 80px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: stretch;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

footer>button {
    position: absolute;
    right: 18px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    resize: none;
    margin-top: 13px;
}

footer>textarea {
    border: none;
    background-color: transparent;
    resize: none;
    width: 88%;
    height: 23px;
    align-self: center;
}

footer>span {
    position: absolute;
    bottom: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #505050;
    background-color: transparent;
}

footer>textarea::placeholder {
    font-style: italic;
    font-size: 16px;
    color: #000;
}

footer>textarea:focus {
    outline: 3px solid transparent;
}

/* ------ MAIN ------ */

main {
    margin-top: calc(80px + 22px);
    width: 100%;
}

main>div {
    margin-top: 4px;
    padding: 12px 8px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
}

main .in-out {background-color: #DCDCDC;}
main .message {background-color: #FFF;}
main .private {background-color: #FFDEDE;}

main .time {
    margin-right: 3px;
    color: #AAAAAA;
}

main .username {
    font-weight: 700;
}

main .from-to {
    margin-right: 3px;
}

/* ------ ASIDE ------ */

aside {
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

aside>button {
    position: absolute;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: transparent;
    border: none;
}

aside>section {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

aside .instructions {
    font-weight: 700;
    align-self: center;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px 0;
}

aside section>div>div {
    padding: 10px 0;
}

aside .contact, aside .visibility>div {
    display: flex;
    align-items: center;
}

aside .contact span{
    max-width: 160px;
    overflow: hidden;
}

aside figure {
    width: 50px;
    margin-right: 15px;
    display: flex;
    justify-content: right;
}

aside .all img {
    max-height: 18px;
}

aside .checked-style {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 30px;
}

aside .visibility .private {
    background-color: transparent;
}

/* ------ LOGIN ------ */

.login {
    background: #FFFFFF;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login>img {
    width: 130px;
    margin: 35% 0;
}

.login>input {
    width: 70%;
    height: 55px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
}

.login>input::placeholder {
    font-size: 18px;
    color: #AEAEAE;
}

.login>input:focus {
    outline: 3px solid transparent;
}

.login>button {
    background: #E7E7E7;
    border: none;
    border-radius: 9px;
    width: 110px;
    height: 45px;
    font-size: 18px;
    color: #696969;
    text-align: center;
    margin-top: 15px;
}

.hidden {
    display: none;
}